<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,600&family=Roboto:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <ul class="nav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/user">List User</a></li>
      <li><a href="/signup">SignUp</a></li>
      <li><a href="/centerListUser">Center</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </body>
</html>
