<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signUp.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <ul class="nav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/user">List User</a></li>
      <li><a href="/signup">SignUp</a></li>
      <li><a href="/centerListUser">Center</a></li>
      <li><a href="about">About</a></li>
    </ul>
    <div class="container right-panel-active">
      <!-- Sign Up -->
      <!-- <div class="container__form container--signup">
        <form method="POST" class="form" id="form1" action="create-user">
          <h2 class="form__title">Sign Up</h2>
          <input type="text" placeholder="User" class="input" name="name" />
          <input type="email" placeholder="Email" class="input" name="email" />
          <input
            type="password"
            placeholder="Password"
            class="input"
            name="password" />
          <button class="btn" type="submit">Sign Up</button>
        </form>
      </div> -->

      <!-- Sign In -->
      <div class="container__form container--signup">
        <form action="#" class="form" id="form2">
          <h2 class="form__title">Sign In</h2>
          <input type="email" placeholder="Email" class="input" name="email" />
          <input
            type="password"
            placeholder="Password"
            class="input"
            name="password" />
          <a href="/user" class="link">Forgot your password?</a>
          <button class="btn">Sign In</button>
        </form>
      </div>

      <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <!-- <button class="btn" id="signIn" href="/signup">Sign Up</button> -->
            <a class="btn" href="/signup">Sign Up</a>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="btn" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
